.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  *zoom: 1;
}

.container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

@media screen and (max-width: 990px) {
  .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
    }
  }

@media (min-width: 768px) {
  .container {
    width: 750px;
    }
  }

@media (min-width: 992px) {
  .container {
    width: 970px;
    }
  }

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    }
  }

.page {
   height: 420px;
   width: 50%;
   background-color: #fff;
}

.image {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.user-image {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.login-text {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: #e24642;
}

.icon {
  padding-right: 30px;
  color: #1c4dd0;
}

.content {
  padding: 10px;
  display: flex;
  justify-content: center;
}
